/* GALAXY-NEWS.PP.UA */
#page #leftside .header{ height: 130px; }
#page #leftside #logo{ font-size: 2.4em; }
#page #leftside #inflogo{ font-size: 0.7em; }
#page #leftside #sublogo{ font-size: 0.8em; font-family: 'Ubuntu', cursive; }

#page #leftside,
#page .psts_navbar .navbar_pages.current,
#page .psts_navbar .navbar_pages:hover,
#page #footer{ background: #850900; }
#page #mainbox .articles h2,
#page #mainbox .right_top h2,
#page .psts_navbar .navbar_pages,
#page #mainbox .articles .header_top,    
#page #footer .shortimg .bottom_short{ border-color: #850900; }
#page .psts_navbar .navbar_pages{ color: #850900; }