/* CKNEWS.PP.UA */
#page #leftside #logo{ font-size: 2.8em; }
#page #leftside #inflogo{ font-size: 0.7em; }
#page #leftside #sublogo{ font-size: 0.8em; font-family: 'Ubuntu', cursive; }

#page #leftside,
#page .psts_navbar .navbar_pages.current,
#page .psts_navbar .navbar_pages:hover,
#page #footer{ background: #2F2F2F; }
#page #mainbox .articles h2,
#page #mainbox .right_top h2,
#page .psts_navbar .navbar_pages,
#page #mainbox .articles .header_top,    
#page #footer .shortimg .bottom_short{ border-color: #2F2F2F; }
#page .psts_navbar .navbar_pages{ color: #2F2F2F; }